<!--Display all users and business profiles. create edit delete users create edit delete business profile-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="views/css/form.css">
        <nav class="navbar navbar-expand-lg sticky-top bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/opportunity/PostedOpportunities">Opportunities</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/opportunity">Post Opportunity</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/survey">Leave A Review</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/manageReports">Manage Reports</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Admin Dashboard</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/login/logout">Logout</a>
                    </li>
                </ul>
              </div>
            </div>
          </nav>
    </head>
<body>
    <!--form button controls-->
    <script>
        function openCreateForm() {
            document.getElementById("createForm").style.display = "block";
          }
        function closeCreateForm() {
            document.getElementById("createForm").style.display = "none";
          }
        function openDeleteForm() {
            document.getElementById("deleteForm").style.display = "block";
          }
        function closeDeleteForm() {
            document.getElementById("deleteForm").style.display = "none";
          }
          </script>
          

    <!-- A button to open the popup form -->
    <button class="btn btn-primary" onclick="openCreateForm()">Create User</button>

    <!-- The form -->
    <div class="form-popup" id="createForm">
        <form  class="card" action="/dashboard" method="POST">
            <h1>Create User</h1>

            <div>
                <label for="firstname" class="form-label">First Name</label>
                <input type="text"  class="form-control" id="firstname" name="firstname" 
                required>
            </div>
            <div>
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text"  class="form-control" id="lastname" name="lastname" 
                required>
            </div>
            <div>
                <label for="email" class="form-label">Email</label>
                <input type="email"  class="form-control" id="email" name="email" 
                required>
            </div>
            <div>
                <label for="password" class="form-label">Password</label>
                <input type="password"   class="form-control" id="password" name="password" minlength="9"
                required>
            </div>

        <button type="submit" class="btn btn-secondary">Create</button>
        <button type="button" class="btn close" onclick="closeCreateForm()">Close</button>
    </form>
    </div>

    <!-- A button to open the popup form -->
    <button class="btn btn-primary" onclick="openDeleteForm()">Delete User</button>

    <!-- The form -->
    <div class="form-popup" id="deleteForm">
        <form  class="card" action="/dashboard/delete" method="POST">
            <h1>Delete User</h1>
          
            <div>
                <label for="emaild" class="form-label">Email</label>
                <input type="emaild" class="form-control" id="emaild" name="emaild" 
                required>
            </div>

        <button type="submit" class="btn btn-secondary">Delete</button>
        <button type="button" class="btn close" onclick="closeDeleteForm()">Close</button>
    </form>
    </div>


   
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Password</th>
          </tr>
        </thead>
        <tbody>
        <%userList.forEach(user => {%>
            <tr>
                <th scope="row"><%= user.email %></th>
                <td><%= user.firstname %></td>
                <td><%= user.lastname %></td>
                <td><%= user.password %></td>
            </tr>
        <%})%>
        </tbody>
      </table>

</body>
</html>