<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="'style.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <h2>Feedback Survey</h2>
    <form action="/survey" method="POST" onsubmit="window.alert('Survey submiited!')">
        <br>
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName">
        <br>

        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName">
        <br>

        <div>
            Please select the service provider you signed up for:<br>
        </div>

        <select name="service" id="service" required>
            <option value="" disabled selected hidden>Type to search </option>
            <option value="JSEB Access to Capital">JSEB Access to Capital</option>
            <option value="Better Business Bureau of Northeast Florida">Better Business Bureau of Northeast Florida</option>
            <option value="Jacksonville Women's Business Center">Jacksonville Women's Business Center</option>
        </select>
        <br>

        <div>
            What rating would you give the service recieved (1 - 5):<br>
        </div>
[11:47 PM]
<select name="rating" id="rating" required>
            <option value="" disabled selected hidden>Type to select</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>

        <button type="submit">Submit</button>
    </form>
    <a href="/index">Go back home</a>
</body>
</html> 